* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .left_ofcanvas {
    width: 250px;
    height: 92vh;
    overflow-y: scroll;
  }
  .left_min_body {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: end;
  }
  .offcanv_lg_list {
    width: 60%;
    height: max-content;
  }
  .ml_li {
    margin-left: -30px;
  }
}
header {
  background-color: #6e2cf2;
}

.bootstrap_logo {
  transition: 0.3s ease-in-out;
}

.bootstrap_logo:hover {
  transform: scale(110%) rotate(-10deg);
}

.dumi_input {
  height: 38px;
  width: 90%;
  border: 2px solid white;
  background-color: #6227d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dumi_input:hover {
  border: 3px solid burlywood;
}

.shortcut_name {
  height: 24px;
  width: 35px;
  background-color: #4a1da3;
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 3px;
  margin-right: 6px;
}

#nav_select {
  border: none;
  outline: none;
  background: transparent;
}

.nav_option {
  background-color: black;
}

.dropdown-item:hover {
  background-color: #6227d9;
}

.active_d {
  background-color: #6227d9;
}

.dropdown-menu-end {
  --bs-dropdown-min-width: 5rem;
}

.search_box_back_shadow {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.651);
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.search_input_box {
  position: absolute;
  height: 50px;
  width: 40%;
  border: 2px solid #6e2cf2;
  top: 130px;
  left: 30%;
  display: none;
  justify-content: end;
  align-items: center;
}

.suggestion_container {
  width: 100%;
  height: max-content;
  margin-top: 160px;
  position: absolute;
  display: none;
}

.suggestion_heading {
  height: max-content;
  width: 40%;
  margin: auto;
  color: #6e2cf2;
}

.search_suggestion {
  height: 50px;
  width: 40%;
  margin: 15px auto;
  border: 2px solid #6e2cf2;
  cursor: pointer;
}

.suggestion_subtext {
  font-size: 0.7rem;
  color: #c2c2c2;
}

.search_suggestion:hover {
  background-color: #6e2cf2;
  color: #fff;
}

.search_suggestion:focus {
  background-color: #6e2cf2;
  color: #fff;
}

.search_glass {
  font-size: 1.3rem;
  color: #6e2cf2;
  padding-left: 20px;
}

#input_search {
  height: 100%;
  width: 95%;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.active_search {
  display: block;
}

.active_search_m {
  display: flex;
}

@media screen and (max-width: 768px) {
  .search_suggestion {
    height: 50px;
    width: 90%;
  }
  .search_input_box {
    left: 5%;
    width: 90%;
  }
  .suggestion_heading {
    width: 90%;
  }
}
.nav-link:hover {
  background-color: #6e2cf2;
}

.nav_2 {
  position: relative;
  z-index: 3;
}

.main_content_conteiner {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: -1;
}

.main_content_conteiner::-webkit-scrollbar {
  width: 0;
}

.wrap_main_content {
  position: relative;
  width: 70%;
  height: 100vh;
  left: 20%;
}

@media screen and (max-width: 1180px) {
  .main_content_conteiner {
    margin-bottom: 200px;
  }
  .wrap_main_content {
    position: relative;
    margin-bottom: 200px;
    width: 70%;
    height: 100vh;
    top: 0;
    left: 28%;
  }
}
@media screen and (max-width: 986px) {
  .main_content_conteiner {
    position: static;
  }
  .wrap_main_content {
    position: static;
    width: 100%;
    height: max-content;
    top: 0;
    left: 0;
  }
}
footer {
  width: 100%;
  height: 400px;
  background-color: #2b3036;
  margin-top: 70px;
}/*# sourceMappingURL=main.css.map */